/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --beige: #ffeed6;
  --sage: #a5af79;
  --brown: #827148;
  --peach: #e8a07c;

  --gray-900: #212529;
  --gray-800: #343a40;
  --gray-700: #495057;
  --gray-600: #868e96;
  --gray-500: #adb5bd;
  --gray-400: #ced4da;
  --gray-300: #dee2e6;
  --gray-200: #e9ecef;
  --gray-100: #f1f3f5;
  --gray: #f8f9fa;
}

html,
* {
  font-weight: 400;
}

body {
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
}

.nav {
  background: var(--gray-900);
  padding: 48px 24px 0px 24px;
}

.nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  list-style-type: none;
}

.nav-btn {
  border: none;
  padding: 24px 64px;
  background: var(--gray-400);
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.nav-btn[data-active="true"]::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 32px;
  background: var(--gray-400);
  z-index: 1;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--gray-100);
  min-height: 100svh;
  padding: 24px;
}

.hero-container {
  position: relative;
  height: 100svh;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.448),
    rgba(0, 0, 0, 0.005)
  );
}

.hero-title {
  position: absolute;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  top: 10%;
  left: 10%;
  color: #ffff;
  font-size: 3rem;
  z-index: 99;
}

.hero-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 24px;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  height: 400px;
  background: var(--beige);
}

.menu-item p {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.5rem;
}

.menu-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
